@model MarktSoftware.Entity.MarktUser

@{
    ViewBag.Title = "Üye Sil"; Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-bottom: 8px;" class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>@ViewBag.Title</h2>
            <h3>Silmek istediğinize emin misiniz?</h3>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Username)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ConfirmPassword)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ConfirmPassword)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phone)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsAdmin)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsAdmin)
                </dd>

            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @Bootstrap.Button("danger", string.Empty, "submit", "remove", " Kaldır")
                    @Bootstrap.LinkButton("/MarktUser/Index", "default", string.Empty, string.Empty, "arrow-left", " Geri Dön!")
                </div>
            }
        </div>
    </div>
</div>